yt-dlp>=2023.11.14
pytube>=15.0.0
requests>=2.31.0
openai-whisper>=20231117
moviepy>=1.0.3
ffmpeg-python>=0.2.0
cohere>=4.44
Pillow>=10.2.0
python-dotenv>=1.0.1
flask>=2.3.0
werkzeug>=2.3.0
google-auth-oauthlib==0.4.6
google-api-python-client==2.0.0
opencv-python>=4.5.0
